# ========================
# Terraform
# ========================
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# ========================
# Node (API)
# ========================
node_modules/
npm-debug.log
dist/
build/

# ========================
# Packer
# ========================
packer_cache/

# ========================
# AWS credentials (NUNCA)
# ========================
.aws/

# ========================
# Mac
# ========================
.DS_Store

# ========================
# Environment files
# ========================
.env

